<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Name="IconName.HouseDoorFill" Size="IconSize.x5" class="me-3" aria-hidden="true" /> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blogposts">
                <Icon Name="IconName.FileEarmarkTextFill" Size="IconSize.x5" class="me-3" aria-hidden="true" /> Blog Posts
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/.auth/logout?post_logout_redirect_uri=/">
                        <Icon Name="IconName.BoxArrowLeft" Size="IconSize.x5" class="me-3" aria-hidden="true" />
                        @(context.User.HasClaim(c => c.Value == "admin") ? "(Admin) Logout" : "Logout")
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/login">
                        <Icon Name="IconName.BoxArrowInRight" Size="IconSize.x5" class="me-3" aria-hidden="true" /> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
