@page "/blogposts"
@inject BlogPostSummaryService service
@inject NavigationManager navigationManager

<PageTitle>BlogPostSummaries posts</PageTitle>
<h1>Blog posts</h1>

@if (service.Summaries is null)
{
    <div>Loading...</div>
}
else
{
    foreach (var blogPostSummary in service.Summaries.OrderByDescending(bps => bps.PublishedDate))
    {
        <article @onclick="() => Navigate(blogPostSummary.Id, blogPostSummary.Author)">
            <h2>@blogPostSummary.Title</h2>
            <div>
                @foreach (var tag in blogPostSummary.Tags)
                {
                    <em>@tag,</em>
                }
            </div>
            <div>
                @((MarkupString)Markdown.ToHtml(blogPostSummary.BlogPostMarkdown))
            </div>
        </article>
    }
}

@code {
    protected override async Task OnInitializedAsync() =>
        await service.LoadBlogPostSummaries();

    void Navigate(Guid id, string author)
        => navigationManager.NavigateTo($"/blogposts/{author}/{id}");
}